
/* Jumbotron */
.jumbotron {
    background-image: url(1.png);
    background-size: cover;
    height: 800px;
    margin-top: -75px;
}
.jumbotron .lead{
    font-size: 30px;
    font-style: italic;
    margin-top: 200px;
}

.jumbotron .display-4{
    color: #F19E20;
    font-size: 76px;
    font-style: normal;
    font-family: Candy Beans;

}

.nav-link{
    margin-right: 15px;
}

.nav-link:hover::after {
    content: '';
    display: block;
    border-bottom: 3px solid #F19E20;
    margin: auto;
    padding-bottom: 5px;
    margin-bottom: -8px;
}